* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: lato, open sans;
    background-image: linear-gradient(0deg, #0e0f0f, #181c1b);
      background-size: cover;
  background-attachment: fixed;
  }
