/* GENERAL */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: lato, open sans;
}
h1,h2{
  font-family: "playfair display";
}
h2{
  margin-bottom: 6.4rem;
  font-size: 6.4rem;
}
h3{
  font-weight: 600;
}

/* HERO PAGE */




.hero-and-nav {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-image:linear-gradient( to right bottom, rgba(24, 24, 24, 0.836), rgba(15, 15, 15, 0.57) ), url(Rectangle.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  }
.main-nav{
  display:none;
}
.main-nav-list {
  
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0rem 0rem 0rem 0rem;
  font-size: 2.8rem;
  text-transform: uppercase;
}
.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  transform: rotate(90deg);
  width: 70px;
  height: 70px;
}

.hero-section {
  padding: 18rem 0 9.6rem 0;
  margin: 0 auto;

  color: #ffffff20;

  /* background-image: linear-gradient(
    to right top,
    hsla(212, 76%, 5%, 0.196) 0%,
    hsla(212, 74%, 9%, 0.196) 10%,
    hsla(213, 73%, 15%, 0.196) 20%,
    hsla(213, 75%, 23%, 0.196) 30%,
    hsla(213, 77%, 27%, 0.196) 40%,
    hsla(213, 77%, 29%, 0.196) 50%,
    hsla(213, 77%, 30%, 0.196) 60%,
    hsla(213, 77%, 31%, 0.196) 70%,
    hsla(213, 76%, 33%, 0.196) 80%,
    hsla(213, 69%, 40%, 0.2) 90%,
    hsla(213, 61%, 45%, 0.2) 100%
  ); */
}
.hero {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}
.heading-primary {
  letter-spacing: -0.5px;
  line-height: 1.15;
  font-weight: 700;
  font-size: 17rem;
  margin-bottom: 12rem;
  /* background-image: linear-gradient(180deg, #ef914e, #299be0, #b86ca0); */
  background-image: linear-gradient(45deg, #40e0d0, #ff8c00, #ff0080);
  background-size: 100%;
  background-clip: text;
  cursor: cell;
}
.hero-description {
  font-size: 4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  letter-spacing: 0.6px;
  color: #F5F5F5;
  font-weight: 600;
  font-family: "open sans";
}
.hero-img {
  width: 100%;
  aspect-ratio: 10/9;
  height: auto;
  border-radius: 2px;
}
.hero-button {
  text-decoration: none;
  color: #202124;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2.7rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  background-color: #d1d1d1;
  font-family: "roboto";
  letter-spacing: 1px;
  transition: all 0.3s;
}
.button-primary {
  background-color: #ae1c1d;
  color: #F5F5F5;
}
.button-primary:hover {
  background-color: #933333;
}
.button-secondary {
  border-color: #d1d1d1;
}
.button-secondary:hover {
  background-color: #929292;
}

.button-margin-right {
  margin-right: 1.6rem;
}

/* SECOND PART, CARDS */

.features-section{
  padding: 9.6rem 0;
}
.features-main-div{
  text-align: center;
}
.features-grid-div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 6.4rem;
  max-width: 175rem;
  margin: 0 auto;
  padding: 9.6rem 4rem;
  color: #f3fbf0;
  background-color: #40e0d009;
  border-radius: 20px;
}
.features-grid-div svg{
  fill:#f3fbf0;
}
.card-heading{
  font-size: 2.7rem;
  margin-bottom: 1.6rem;
}
.card-text{
  font-size: 2.3rem;
}
.features-heading{
  text-align: center;
  color: #F5F5F5;
}

















/* .image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22rem;
  max-width: 100vw;
  background-image: url(Rectangle.png);
  height: 80rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
} */
/* rectangle image is set for my screen only, I Will need to implement
special sizing for smaller devices */
/* .box {
  color: transparent;
  background-color: #780000;
  padding: 7rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
} */

/* .hidden-div {
  color: blue;
  display: none;
  background-color: #6d0e0e;
  mix-blend-mode: difference;
  padding: 7rem 2rem;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.hidden-div p {
  mix-blend-mode: normal; /* Override mix-blend-mode for text 
} */
.p {
  color: #202124;
}
.header {
  height: 5rem;
  background-color: #933333;
}
.about-background-image{
  /* background-image: url("za webflow.png"); */
 
  padding-top: 20rem;
  
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  display: flex;
  justify-content: flex-end;
}
.about-section{
  position: relative;
  display:flex;
  justify-content: flex-end;
  padding: 0 2.4rem;
}
.portrait{
  /* background-image: url(portretPNG.png);
  padding:30rem;
  max-inline-size: 100%; */

}
.portrait2{
position: absolute;
max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
object-position: center;
bottom: 0px;
left:0px;
pointer-events: none;
width: 40%;
opacity: 50%;
}
.about-text-div {
  padding-bottom: 10rem;
  font-size: 4rem;
  color: #d1d1d1;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  min-width: 400px;
}


.logo-col{
  display: flex;
  flex-direction: column;

}
.socials-links{
  display: flex;
  list-style: none;

}
.gradient-section{
background-color: #0a090a;
background-image: linear-gradient(0deg, #0e0f0f, #181c1b ) ;
}
/* FORM STYLING  */
.form-section{
padding: 9.6rem 0;
}
.form-position-div{
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  z-index: 2;
}

.form-text-div{
  padding:4.8rem 6.4rem 6.4rem 6.4rem;
  background: rgba(255, 255, 255, 0.055);
  border-radius: 9px;
  backdrop-filter: blur(10px);
  box-shadow:0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  z-index: 3;
  position: relative;
}
.form{
  border-radius: 9px;
}
.form-list{
  /* display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form-heading{
  color:#F5F5F5;
  text-align: center;
}
.message-field{
  grid-column-start:1 ;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
justify-self: stretch;
}
.form-list input{
  width:100%;
  padding:1.2rem;
  font-size: 1.8rem;
  border:none;
  background-color: #f3fbf0;
  color: #121314;
  border-radius: 9px;
  font-weight: 700;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);;
}
.form-list label{
  font-family: roboto;
  display:block;
  font-size: 1.6rem;
}
.form-list textarea{
  max-width: 80rem;
  width: 75%;
  resize: none;
  padding: 1.2rem 2rem;
  margin: 1.25rem;
  min-height: 30rem;
  display: block;
  outline: none;
  border:none;
  border-radius: 9px;
  background-color: #f3fbf0;
  font-family: roboto;
  font-size: 1.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);;
}
input{
  font-family: roboto;
}
.input-div{
  max-width: 30%;
  margin: 1.5rem;
  
}
.input-div label{
  padding-right: 1rem;
}

.form-btn{
  padding: 1.2rem;
  margin:1.25rem;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: 1px;
  border-radius: 9px;
  border:none;
  cursor:pointer;
  max-width: 20%;
  font-weight: 700;
  box-shadow: 0 2.4rem 4.8rem rgba(212, 212, 212, 0.075);
  background-color: #ae1c1d;
  color: #F5F5F5;
  
  transition: all 0.3s;
}
.form-btn:hover{
  background-color: #933333;
}
/* ///////////////////////////////// */
.orange{
  color: #bdbdbd;
}
.blue{
  color:#ae1c1d;
}
.btn-color{

}
.btn-color2{

}

/* FOOTER STYLING */
.footer{
  padding: 1.4rem 0;
  background-color: #eefdf9;
  color:#767676;
  fill:#767676;
}


.footer-div{
  margin-left: 5rem;
}
.copyright{
  font-size: 1.6rem;
}
.footer-link{
  margin-left: 0.23rem;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */



@media (max-width: 110rem) { /* 1760 width */
  html{
    font-size: 58%;
  }
  .about-text-div{
    padding-left: 67rem;
  }
} 

@media (max-width: 90rem) { /*1440 width */
  html{
    font-size: 45%;
  }
  .features-grid-div{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .about-text-div{
    padding-left:60rem;
  }
}

@media (max-width:70rem){  /* 1120 width */
  html{
    font-size: 38%;
  }
  .about-text-div{
    padding-left: 55rem;
  }
  .logo{
    width: 40px;
    height: 40px;
  }
  .svg-fotter{
    width: 18px;
    height: 18px;
  }
  .portrait2{
width: 66%;
opacity: 25%;
  }
  .about-text-div{
    line-height: 27px;
  }
  }
  
@media(max-device-width: 48rem){ /* 768 width */
  .portrait2{
    width: 56%;
  }
  h1{
    font-size: 5rem;
  }
  html{
    font-size: 20%;
  }
  .about-text-div{
    line-height: 20px;
  }
  .features-grid-div{
    grid-template-rows: repeat(1, 1fr);
    width: 360px;
    row-gap: 16px;
  }
  .cards-svg{
    width: 20px;
    height: 20px;
  }
  .card-text{
    width: 200px;
    margin:auto;
  }
}
